* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    color: #24292f;
    line-height: 1.6;
}


/* ENCABEZADO */

.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #6f42c1, #8250df, #0969da);
    color: white;
}

.icono-git {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 20px;
}

.estado {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
}


/* CONTENIDO */

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    gap: 25px;
}


/* TARJETAS */

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border-left: 6px solid #8250df;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.icono {
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2 {
    color: #6f42c1;
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 12px;
}


/* LISTA */

ul {
    list-style: none;
}

li {
    background: #f6f8fa;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 8px;
}


/* ESTRUCTURA */

.estructura p {
    background: #f6f8fa;
    margin: 8px 0;
    padding: 8px 12px;
    border-radius: 8px;
}


/* AUTOR */

.autor {
    text-align: center;
    border-left-color: #0969da;
}

.autor strong {
    color: #0969da;
}


/* PIE DE PÁGINA */

footer {
    text-align: center;
    padding: 30px 20px;
    background: #24292f;
    color: white;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}


/* DISEÑO PARA CELULAR */

@media (max-width: 600px) {

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .card {
        padding: 22px;
    }

}